body{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.chatsPart{
    width: 85%;
    height: 100vh;
}
.messageDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    overflow: auto;
}